<h1>Congratulations!</h1>
<p>The <code>bourbon-neat</code> generator has given you...</p>
<h3><a href="https://html5boilerplate.com/" title="The web’s most popular front-end template" target="_blank">HTML5 Boilerplate</a></h3>
<p>HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.</p>

<h3><a href="http://sass-lang.com/" title="CSS with superpowers" target="_blank">Sass</a></h3>
<p>Sass is a mature, stable, and powerful professional grade CSS extension language.</p>

<h3><a href="http://bourbon.io/" title="thoughtbot: Bourbon Saas mixin library" target="_blank">Bourbon</a></h3>
<p>A simple and lightweight mixin library for Sass.</p>

<h3><a href="http://neat.bourbon.io/" title="thoughtbot: Neat responsive grid" target="_blank">Neat</a></h3>
<p>Sleek, intuitive, and powerful mobile first front-end framework (Grid) for faster and easier web development.</p>

<h3><a href="http://necolas.github.io/normalize.css/" title="Normalize CSS" target="_blank">Normalize.css</a></h3>
<p>A modern, HTML5-ready alternative to CSS resets. Makes browsers render all elements more consistently and in line with modern standards.</p>


<h3><a href="http://modernizr.com/" title="Modernizr js" target="_blank">Modernizr.js</a></h3>
<p>Modernizr is an open-source JavaScript library that helps you build the next generation of HTML5 and CSS3-powered websites.</p>

<h3>Angular</h3>
<p>
  AngularJS is a toolset for building the framework most suited to your application development.
</p>

<h3>Karma</h3>
<p>Spectacular Test Runner for JavaScript.</p>

<p>Happy coding!</p>
